<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.teamproject.member.MemberMapper">
	<!-- ID가 같은지 아닌지 확인하기 위함 -->
	<select id="getById" parameterType="com.teamproject.teamproject.member.Member" resultType="com.teamproject.teamproject.member.Member">
		select * from tp_member where tp_m_id = #{tp_m_id}
	</select>
	<!-- 닉네임이 같은지 아닌지 확인하기 위함 -->
	<select id="getByNickname" parameterType="com.teamproject.teamproject.member.Member" resultType="com.teamproject.teamproject.member.Member">
		select * from tp_member where tp_m_nick = #{tp_m_nick}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="com.teamproject.teamproject.member.Member">
		insert into tp_member values (#{tp_m_id}, #{tp_m_pw}, #{tp_m_nick}, #{tp_m_name}, #{tp_m_addr}, #{tp_m_photo}, 0)
	</insert>
	
	<!-- 회원탈퇴 -->
	<delete id="bye" parameterType="com.teamproject.teamproject.member.Member">
		delete from tp_member where tp_m_id = #{tp_m_id}
	</delete>
	
	<!-- 회원정보수정 -->
	<update id="update" parameterType="com.teamproject.teamproject.member.Member">
		update tp_member set tp_m_pw = #{tp_m_pw}, tp_m_nick = #{tp_m_nick}, tp_m_name = #{tp_m_name}, tp_m_addr = #{tp_m_addr}, tp_m_photo = #{tp_m_photo} where tp_m_id = #{tp_m_id} 
	</update>
</mapper>